.loginBox {
  text-align: center;
  height: 91vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.log {
  text-align: center;
  width: 100%;
  max-width: 375 px;
  padding: 25px;
  position: relative;
  top: 25%;
}

.loginBox h2 {
  font-size: 35px;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  text-align: center;
}

.inputBox {
  width: 80%;
  max-width: 400px;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  transition: box-shadow 0.5s ease;
}
.inputBox:focus {
  box-shadow: inset 0 -5px 45px rgba(252, 208, 161, 0.1),
    0 1px 1px rgba(252, 208, 161, 0.5);
}

.inputBox::placeholder {
  color: white;
}

.button {
  color: white;
}

.input-error::placeholder {
  color: rgb(251, 202, 246);
}
