.journal-nav-bar {
  color: white;
  width: 50%;
  min-width: 250px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 8px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 25px;
}

.journal-nav-bar a {
  display: inline-flex;
  margin: 0 18px;
  transition: 0.4s;
}

.journal-nav-bar a img {
  transition: 0.4s all;
}

.journal-nav-bar a:hover > img {
  transform: scale(1.5) rotate(25deg);
}

.journal-nav-bar img {
  width: 28px;
  height: 28px;
}
