a {
  color: white;
  margin-right: 3px;
  margin-left: 3px;
}

footer {
  color: white;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  background-color: #8e6e53;
  font-size: 12px;
}
