.content {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.signup {
  text-align: center;
  height: 88vh;
  padding: 25px;
  width: 60%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.welcome {
  align-content: center;
  position: relative;
  top: 23%;
}

.welcome h1 {
  font-size: 45px;
  font-weight: bold;
  padding-bottom: 40px;
  color: white;
  text-transform: uppercase;
}

.button {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 15px;
  width: 100px;
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #54493a;
  background-image: linear-gradient(top, #8e6e53, #54493a);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(
      startColorstr=#8E6E53,
      endColorstr=#54493A,
      GradientType=0
    );
  border: 1px solid #8e6e53;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}
.button:hover,
.button:active,
.button.active,
.button.disabled,
.button[disabled] {
  filter: none;
  background-color: #5b4635;
}
.button:hover {
  color: white;
  text-decoration: none;
  background-color: #5b4635;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.2s linear;
  transition: background-position 0.2s linear;
}
@media screen and (max-width: 400px) {
}
