.diary {
  text-align: center;
  width: 50%;
  min-width: 300px;
  max-height: 500px;
  min-height: 90.5vh;
  margin-left: auto;
  margin-right: auto;
}

.addButton button {
  border-radius: 4.5px;
  width: 200px;
  height: 45px;
  position: relative;
  transform: translateY(25%);
}

.diary-arrow-left {
  position: relative;
  top: 18px;
  padding-right: 10px;
  color: white;
}

.diary-arrow-right {
  position: relative;
  top: 18px;
  padding-left: 10px;
  color: white;
}

.diary-arrow-left:hover {
  color: darkslategray;
}

.diary-arrow-right:hover {
  color: darkslategray;
}
